<h1 class='center animated fadeIn'>Acerca de</h1>
<hr>
<div class="media animated fadeIn">
    <img class="align-self-start mr-3" src="../../../../assets/img/561089-200.png" alt="Generic placeholder image">
    <div class="media-body">
        <h4 class="mt-0">Buscador de Pokemones</h4>
        <h5>
            <span class="badge badge-secondary badge-light">Desarrollador:</span>
            <span class="badge badge-pill badge-primary">Kevin Zavala</span>
        </h5>
        <h5>
            <span class="badge badge-secondary badge-light">Fecha:</span>
            <span class="badge badge-pill badge-danger">30/12/2019</span>
        </h5>
        <h5>
            <span class="badge badge-secondary badge-light">Colaborador:</span>
            <span class="badge badge-pill badge-success">Fido</span>
        </h5>
        <h5>
            <span class="badge badge-secondary badge-light">Referencia:</span>
            <a class="badge badge-pill badge-dark" target="_blank" href="https://pokeapi.co/">PokéAPI</a>
        </h5>
    </div>
</div>
